<div class="container">
  <div class="card bg-primary-subtle border-primary p-3 mb-3">
    <!-- Headline -->
    <div class="mb-3">
      <label for="{{ form.headline.id_for_label }}" class="form-label">Titre :</label>
      {{ form.headline }}
    </div>

    <!-- Rating avec les boutons radio en ligne -->
    <div class="mb-3">
      <p class="card-text pt-2">Notes :</p>
      {% for subwidget in form.rating %}
      <div class="form-check form-check-inline">
        {{ subwidget.tag }} 
        <label class="form-check-label" for="{{ subwidget.id_for_label }}"> {{ subwidget.choice_label }} </label>
      </div>
      {% endfor %}
    </div>

    <!-- Body -->
    <div class="mb-3">
      <label for="{{ form.body.id_for_label }}" class="form-label">Commentaire :</label>
      {{ form.body }}
    </div>

    {% if show_button %}
    <div class="text-end mt-3">
      <button type="submit" class="btn btn-primary bg-gradient">Envoyer</button>
    </div>
    {% endif %}
  </div>
</div>
