$primary: #937663;
$secondary: #756e67;
$dark: #707070;
$danger: #b82d23;

@import "bootswatch/dist/united/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Bootstrap core
@import "bootstrap/scss/bootstrap";

// Style du thème
@import "bootswatch/dist/united/bootswatch";